In [1]:
import pandas as pd
import numpy as np
import re
import string

from expertai.nlapi.cloud.client import ExpertAiClient
import os

In [2]:
filename = "Womens Clothing E-Commerce Reviews.csv"

In [3]:
reviews = pd.read_csv("../input/" + filename)

In [4]:
reviews["Class Name"].unique(),len(reviews["Class Name"].unique())

(array(['Intimates', 'Dresses', 'Pants', 'Blouses', 'Knits', 'Outerwear',
        'Lounge', 'Sweaters', 'Skirts', 'Fine gauge', 'Sleep', 'Jackets',
        'Swim', 'Trend', 'Jeans', 'Legwear', 'Shorts', 'Layering',
        'Casual bottoms', nan, 'Chemises'], dtype=object),
 21)

In [5]:
reviews.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [6]:
reviews_cat = reviews[reviews["Class Name"] == "Dresses"]

In [7]:
reviews_cat

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses
...,...,...,...,...,...,...,...,...,...,...,...
23478,23478,1104,32,Unflattering,I was surprised at the positive reviews for th...,1,0,0,General Petite,Dresses,Dresses
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [8]:
def clean_text(text):
    '''Make text lowercase,remove punctuation
    .'''
    text = str(text)
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub('\n', ' ', text)
    text = re.sub('\r', ' ', text)
    return text

In [9]:
reviews_cat["Review Text"] = reviews_cat["Review Text"].apply(lambda x: clean_text(x))

<ipython-input-9-aead7811d082>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_cat["Review Text"] = reviews_cat["Review Text"].apply(lambda x: clean_text(x))

In [10]:
reviews_cat["Review Text"]

1        Love this dress   it s sooo pretty   i happene...
2        I had such high hopes for this dress and reall...
5        I love tracy reese dresses  but this one is no...
8        I love this dress  i usually get an xs but it ...
9        I m 5 5  and 125 lbs  i ordered the s petite t...
                               ...
23478    I was surprised at the positive reviews for th...
23481    I was very happy to snag this dress at such a ...
23483    This fit well  but the top was very see throug...
23484    I bought this dress for a wedding i have this ...
23485    This dress in a lovely platinum is feminine an...
Name: Review Text, Length: 6319, dtype: object

In [11]:
os.environ["EAI_USERNAME"] = 'ambarish.ganguly@gmail.com'
os.environ["EAI_PASSWORD"] = 'Ambarish@1234'

In [12]:
client = ExpertAiClient()
language ="en"

In [13]:
def sentiment_overall(client, text, language):
    try:
        input_text = str(text)
        document = client.specific_resource_analysis(
        body={"document": {"text": input_text}}, 
        params={'language':  language, 'resource': 'sentiment'
       })
        return document.sentiment.overall
    except Exception as e: 
        print(str(e) +": " + str(text))

In [14]:
r = reviews_cat[:100]

In [15]:
r["sentiment_overall"] = r["Review Text"].apply(lambda x: sentiment_overall(client, x, language))

<ipython-input-15-0faad638a316>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r["sentiment_overall"] = r["Review Text"].apply(lambda x: sentiment_overall(client, x, language))

In [16]:
r.sort_values(by=['sentiment_overall']).to_csv("dress_sentiment.csv")

In [35]:
def emotional_traits(client, text, language,taxonomy = "emotional-traits"):
    input_text = str(text)
    emotional_categories = ""
    output = client.classification(body={"document": {"text": input_text}}, 
                                   params={'taxonomy': taxonomy, 'language': language})

    for category in output.categories:
        if(emotional_categories == ""):
            emotional_categories = emotional_categories + str(category.hierarchy[-1])
        else:
            emotional_categories = emotional_categories + " " + str(category.hierarchy[-1])
    
    return(emotional_categories)

In [36]:
r["emotional_traits"] = r["Review Text"].apply(lambda x: emotional_traits(client, x, language))

<ipython-input-36-9fab7ac039b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r["emotional_traits"] = r["Review Text"].apply(lambda x: emotional_traits(client, x, language))

In [38]:
taxonomy = "behavioral-traits"
r["behavioral_traits"] = r["Review Text"].apply(lambda x: emotional_traits(client, x, language,taxonomy))

<ipython-input-38-cabacb75b28e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r["behavioral_traits"] = r["Review Text"].apply(lambda x: emotional_traits(client, x, language,taxonomy))

In [39]:
r

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,sentiment_overall,emotional_traits,behavioral_traits
1,1,1080,34,NaN,Love this dress it s sooo pretty i happene...,5,1,4,General,Dresses,Dresses,4.80,Happiness,Violence
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,6.40,,Organization Creativity
5,5,1080,49,Not for the very petite,I love tracy reese dresses but this one is no...,2,0,4,General,Dresses,Dresses,11.00,,
8,8,1077,24,Flattering,I love this dress i usually get an xs but it ...,5,1,0,General,Dresses,Dresses,23.60,,
9,9,1077,34,Such a fun dress!,I m 5 5 and 125 lbs i ordered the s petite t...,5,1,0,General,Dresses,Dresses,7.30,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,506,1078,51,"So cute, but weird fit",This dress is really cute in person however ...,3,1,11,General,Dresses,Dresses,-0.40,,
508,508,1078,67,"Comfy, cute, and colorful.",This knit dress is very comfortable i liked t...,4,1,0,General,Dresses,Dresses,2.29,Like,
509,509,1078,36,Best fitting dress,Love love this dress fits so great i normall...,5,1,8,General,Dresses,Dresses,18.10,,
512,512,1078,49,Cute but skip the petite unless you are very s...,Beautiful colors especially the pink i am 5 ...,5,1,3,General,Dresses,Dresses,-1.39,,Smartness
514,514,1081,35,Elegant and well made,This dress caught my eye because i don t have ...,5,1,3,General Petite,Dresses,Dresses,8.69,Like,Organization

In [40]:
r = r.drop(columns =['Unnamed: 0'])

In [41]:
r.to_csv("dress_sentiment_traits.csv",index = False)